.loginSection {
    display: flex;
    flex-direction: column;

    background-color: var(--bg-surface-2);
    width: 90%;
    border-radius: 20px;
    padding: 25px;
    box-sizing: border-box;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}

@media (orientation: landscape) and (max-height: 450px) {
    .loginSection {
        border-radius: 10px;
    }
}

.title {
    text-align: center;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.errorText {
    display: none;
    color: red;
    margin: 0;

    &Show {
        display: block;
    }
}

.loginText {
    display: none;
    margin: 0;
    text-align: center;
    transition: opacity .05s;
    opacity: 0;

    &Show {
        display: block;
        opacity: 1;
        color: rgb(0, 200, 100) ;
    }

    &Loading {
        display: block;
        opacity: 1;
        color: rgb(255, 200, 70);
    }

    &Failed {
        display: block;
        opacity: 1;
        color: rgb(220, 60, 60);
    }
}

.loginButton {
    --transition-duration: .05s;

    height: 50px;
    font-weight: bold;
    background-color: var(--bg-primary);
    transition: transform var(--transition-duration);

    &:hover {
        background-color: var(--bg-primary-hover);
    }

    &:active, &Active {
        transform: scale(0.95);
    }

    &:focus {
        outline: 3px solid var(--bg-primary-focus);
    }
}

.forgotPasswordLink {
    margin-top: 10px;
}
