.dialog {
    display: none;
    flex-direction: column;
    row-gap: 20px;

    border: 1px solid hsl(0, 3%, 25%);
    background-color: var(--bg-surface-2);
    padding: 15px;
    width: 100%;
    box-sizing: border-box;

    opacity: 0;
    transition-property: opacity, display, transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;
}

.open {
    display: flex;
    opacity: 1;
}

.dialog::backdrop {
    background-color: hsla(0, 3%, 10%, 0.8);
}

.header {
    display: grid;
    grid-template-areas:
    "title button"
    "detail ."
    ;
    row-gap: 2px;

    &Title {
        grid-area: title;
        margin: 0;
    }

    &Detail {
        grid-area: detail;

        display: flex;
        align-items: center;
        color: var(--text-color-muted);
        column-gap: 2px;

        &Text {
            margin: 0;
        }

        &Arrow {
            transform: translateY(-2px);
            margin-right: 2px;
        }
    }

    &Button {
        grid-area: button;
        align-self: center;
        justify-self: flex-end;
        cursor: pointer;
    }
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.errorText {
    color: red;
    margin: 0 0 5px 0;
}

.saveButton {
    max-width: 100px;
    width: 100%;
    align-self: center;
}
