.dialog {
    display: none;
    flex-direction: column;
    row-gap: 20px;

    border: 1px solid hsl(0, 3%, 25%);
    background-color: var(--bg-surface-2);
    padding: 15px;
    width: 100%;
    box-sizing: border-box;

    opacity: 0;
    transition-property: opacity, display, transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;
}

.open {
    display: flex;
    opacity: 1;
}

.dialog::backdrop {
    background-color: hsla(0, 3%, 10%, 0.8);
}

.header {
    display: grid;
    grid-template-areas:
    "title button"
    "detail ."
    ;

    &Title {
        grid-area: title;
        margin: 0;
    }

    &Detail {
        grid-area: detail;

        display: flex;
        align-items: center;
        color: var(--text-color-muted);

        &Text {
            margin: 0;
        }
    }

    &Button {
        grid-area: button;
        align-self: center;
        justify-self: flex-end;
    }
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.saveButton {
    max-width: 100px;
    width: 100%;
    align-self: center;
}
